@(title: String)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content

        <script src="@routes.Assets.at("javascripts/libs/jquery-1.10.2.js")"></script>
        <script src="@routes.Assets.at("javascripts/libs/handlebars-1.1.2.js")"></script>
        <script src="@routes.Assets.at("javascripts/libs/ember-1.2.0.js")"></script>
        <script src="@routes.Assets.at("templates/templates.pre.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
    </body>
</html>
