<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Mapper</h1>
            </section>

            <!--section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
            </section-->
        </nav>
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Menu</label></li>
                <li>{{#link-to "index"}}Home{{/link-to}}</li>
                {{#if auth.signedIn}}
                    <li>{{#link-to "profile"}}Profie{{/link-to}}</li>
                    <li>{{#link-to "logout"}}Logout{{/link-to}}</li>
                {{else}}
                    <li>{{#link-to "login"}}Login{{/link-to}}</li>
                    <li>{{#link-to "register"}}Register{{/link-to}}</li>
                {{/if}}
            </ul>
        </aside>

        <!--aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Users</label></li>
            </ul>
        </aside-->

        <section class="main-section">
            {{render alert}}
            <!-- content goes here -->
            {{outlet}}
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>


