<div class="panel small-12 medium-8 large-6 small-centered columns">
    <h5>Logout</h5>
    <form>
        <div class="row">
            <div class="small-12 columns">
                Are you sure?
            </div>
        </div>
        <div class="row">
            <div class="small-8 small-push-4 columns">
                <a href="#" class="button small" {{action "logout"}}>Logout</a>
                <a href="#" class="button small secondary" {{action "cancel"}}>Cancel</a>
            </div>
        </div>
    </form>
</div>
