<div class="row">
    <div class="small-4 columns">
        <label for="right-label" class="right inline">Email</label>
    </div>
    <div class="small-8 columns">
        {{input id="inputEmail" placeholder="Email" value=email}}
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        <label for="right-label" class="right inline">Password</label>
    </div>
    <div class="small-8 columns">
        {{input type="password" id="inputPassword" placeholder="Password" value=password}}
    </div>
</div>
